<!doctype html>
<html lang="en">
<head>
  <!-- Title block allowing child pages to override -->
  <title>{% block title %}Anthem{% endblock %}</title>

  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

  <!-- Device Specific Metadata -->
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- Vendor Styles -->
  

  <!-- Global Styles -->
  {{ "main.css" | asset_url | stylesheet_tag }}

  <!-- Style block allowing child pages to inject their own styles -->
  {% block styles %}{% endblock %}
</head>
<body>

  <div id="wrapper">
    <!-- Include -->
    {% include "header" %}
    <!-- Content block, child page inject content -->
    {% block content %}{% endblock %}
  </div>

  <!-- Vendor Scripts -->
  {{ "jquery.min.js" | asset_url | script_tag }}
  {{ "bootstrap.js" | asset_url | script_tag }}

  <!-- Google Map -->
  {{ "google-map.js" | asset_url | script_tag }}

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHjfEAx3kun_6_SvIHIdSl04ayMBuRRi0&callback=initMap">
    </script>

  <!-- Script block allowing child pages to inject their own scripts -->
  {% block scripts %}{% endblock %}
  
</body>
</html>