// ==========================================================================
// Global Base Settings override
// ==========================================================================


body, html{
  background-color: #000;
  height: 100%;
  width: 100%;
  font-weight: 700;
  color: #000;
}

img {
	display: block;
	margin: auto;
}

.container {
	max-width: 900px;
}

// Google map 
#map { height: 500px; }

// Divider
.divider{
	position: relative;
	height: 53px;
	background: url('../images/divider-new.jpg') no-repeat;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	line-height: 53px;
	background-size: cover; 

}

.divider > p {
	text-align: left;
	padding-left: 5%;
}

.img-section p {
	padding-left: 1%;
	border-left: 1px solid #000;
	margin-top: 5%;
	line-height: 25px;
}

//Form

.form-control {
	border-radius: 0;
}

.submit-btn {
	background-image: url('../images/button-bg.jpg');
	cursor: pointer;
	border: none;
	border-radius: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.form-control::-moz-placeholder {
	color: #000; 
	opacity: 1; 
}
.form-control:-ms-input-placeholder {
	color: #000; 
}
.form-control::-webkit-input-placeholder {
	color: #000; 
}

// Footer
footer {
	position: relative;
	height: 400px;
	background-image: url('../images/grill.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	margin: 0 auto;
	padding: 5%;
	color: #fff;
}

.social-icons {
	font-size: em(50);
}

.copyright {
	margin-top: 8%;
	font-size: 12px;
}