// ==========================================================================
// Global Base Settings override
// ==========================================================================


body, html{
  background-color: #000;
  height: 100%
}

img {
	display: block;
	margin: auto;
}