// ==========================================================================
// Global Base Settings override
// ==========================================================================


body, html{
  background-color: #000;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #32291a;
}

img {
	display: block;
	margin: auto;
}

.container {
	max-width: 900px;
}

// Google map 
#map { height: 500px; }

// Divider
.divider{
	position: relative;
	height: 76px;
	background: url('../images/divider.jpg') no-repeat;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	line-height: 76px; 

}

.divider > p {
	text-align: left;
	padding-left: 5%;
}

.img-section p {
	padding-left: 1%;
	border-left: 1px solid #000;
	margin-top: 5%;
	line-height: 25px;
}

// Footer
footer {
	position: relative;
	height: 400px;
	background-image: url('../images/grill.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	margin: 0 auto;
	padding: 5%;
	color: #fff;
}

.copyright {
	margin-top: 8%;
}