{% block content %} 
	<div class="container">

		<!-- Header -->
		<header>
			<img src="{{'header.jpg' | asset_url}}" alt="" class="img-responsive">	
			<img src="{{'banner.jpg' | asset_url}}" alt="" class="img-responsive">	
		</header>
		
		<!-- Content -->
		<section id="content">
			<!-- Divider -->
			<div class="divider">
				<p>
					ONE and TWO BEDROOM APARTMENTS RIGHT ON THE BELTLINE
				</p>
			</div>

			<!-- Image -->
			<div class="img-section">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-8"></div>
				</div>
			</div>
		</section>
		
		<!-- Google Map -->
		<section id="google-map">
			<!-- Divider -->
			<div class="divider">
				<p>
					CHECK OUT THE NEIGHBORHOOD
				</p>
			</div>

			<!-- Google Map -->
			<div id="map"></div>
		</section>
		
		<!-- Footer -->
		<footer>
			<div class="row">

				<!-- Contact Form -->
				<div class="col-xs-6">
					<p>SIGN UP FOR LATEST NEWS AND UPDATES</p>
					<form>
					  <div class="form-group">
					    <label for="user-name"></label>
					    <input type="email" class="form-control" id="user-name" placeholder="Your Name">
					  </div>
					  <div class="form-group">
					    <label for="email-address"></label>
					    <input type="email" class="form-control" id="email-address" placeholder="Your Email Address">
					  </div>
					  <button type="submit" class="btn btn-default">SUBMIT</button>
					</form>
				</div>

				<!--Social Media -->
				<div class="col-xs-6">
					<p>CONNECT WITH US</p>
					<img src="{{'social-icons.png' | asset_url}}" alt="" class="img-responsive">
					<br>
					<p>
						1234 Ralph McGill Blvd.
						<br>
						Atlanta, GA 30002
					</p>
				</div>
			</div>
			<!-- Copyright -->
			<div class="row copyright">
				<div class="col-md-8">
					<div class="copyrights">
						<p>Copyright © 2015 Anthem on Ashley | All Rights Reserved | Owned and * Operated by NAP</p>
					</div>
				</div>
				<div class="col-md-4">
					<img src="{{'nap-logo.png' | asset_url}}" alt="" class="img-responsive">
				</div>
			</div>
		</footer>
	
	</div>
{% endblock %}