{% block content %} 
	<div class="container">
		<div>
			<img src="{{'header.jpg' | asset_url}}" alt="" class="img-responsive">	
		</div>
		<div>
			<img src="{{'banner.jpg' | asset_url}}" alt="" class="img-responsive">	
		</div>
		<div class="divider">
			<p>
				ONE and TWO BEDROOM APARTMENTS RIGHT ON THE BELTLINE
			</p>
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8"></div>
			</div>
		</div>
		<div class="divider">
			<p>
				CHECK OUT THE NEIGHBORHOOD
			</p>
		</div>		
		<div>
			<img src="{{'grill.jpg' | asset_url}}" alt="" class="img-responsive">	
		</div>
	</div>
{% endblock %}